{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<meta name="google-signin-client_id" content="478532832749-6eugk1ieev3503ru5arqsni301cgimkl.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
	<script src="{% static 'js/text.js' %}"></script>
	<script src="{% static 'js/book.js' %}"></script>
	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>           
    
	
	<title>Daftar Buku</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
  		
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
    		<ul class="navbar-nav">
      			<li class="nav-item">
        			<a class="nav-link" href="/profil/">Profil</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="/login/">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/registrasi/">Registrasi</a>
				</li>
				  
			</ul>
		</div>
	</nav>
	<br><br><br>
	<div class = "container" >
					<div>
						{% if user.is_authenticated %}
							<span class="teks-besar" style="font-family: myFirstFont;font-size: 50px"><strong>Selamat datang, {{ user.first_name }}</strong></span><br/>
							<a role="button" href="/logout/"
							class="btn btn-primary">Logout</a>
						{% else %}
							<a role="button" href="/login/"
							class="mt-3 mr-4 bg-light btn btn-outline-success">Login</a>
						{% endif %}
					</div>
					
				</div>
			
		<div class = "text-right">
		<h2 id="statusBuku"><i class='fa fa-star'style = 'color : orange'></i> {{counter}} buku favorit</h2></div>
		<table class = "table table-striped" id = "shelf" style = "background-color: white">
			
		</table>
	</div>
	<script type="text/javascript">
		function changeStar(id){
			var star = $('#'+id).html();
			if(star.includes("gray")) {
				$.ajax({
					url : "/add/",
					dataType : 'json',
					success : function(result){
						$('#'+id).html("<i class='fa fa-star' style = 'color : orange'></i>");
						$("#statusBuku").html("<i class='fa fa-star'style = 'color : orange'></i> " + result+ " buku favorit");	
					}
				});
				
			}
			else{
				$.ajax({
					url : "/substract/",
					dataType : 'json',
					success : function(result){
						$('#'+id).html("<i class='fa fa-star' style = 'color : gray'></i>");
						$("#statusBuku").html("<i class='fa fa-star'style = 'color : orange'></i> " + result + " buku favorit");
					}
				});
			}	
		}
		$("#submit").click(function(){
			var x = $('#myInput').val();
			var another = document.getElementsByTagName("thead");
			for(i = 0; i < another.length; i++){
				another[i].style.display = "none";
			}
			var other = document.getElementsByClassName("bukubuku");
			for(i = 0; i < other.length; i++){
				other[i].style.display = "none";
			}
			$.ajax({
				url: "/data/?cari=" + x,
				success: function(result){
					result = result.items
					var hdr = "<thead><tr><th>Judul</th><th>Penulis</th><th>Sampul</th><th>Deskripsi</th><th></th></tr></thead>";
						$("#shelf").append(hdr);
						$("#shelf").append("<tbody>");
						dataLength = result.length;
					for(i=0; i<result.length; i++){
						var tmp = "<tr class = 'bukubuku'><td>" + result[i].volumeInfo.title + "</td><td>" + result[i].volumeInfo.authors + "</td><td>"+"<img src='"+result[i].volumeInfo.imageLinks.thumbnail+ "'>"+"</td><td>" + result[i].volumeInfo.description +"</td><td>"+"<button class='button' style = 'background-color: Transparent; border: none' id='"+result[i].id+"' onclick = 'changeStar(" +"\""+result[i].id+"\""+")'><i class='fa fa-star'style = 'color : gray'></i></button>"+"</td></tr>";

						$("#shelf").append(tmp);
					}
					$("#shelf").append("</tbody>");
				}
			});
		});

</body>
</html>