
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
    <script src="{% static 'js/text.js' %}"></script>
    <title>Hello</title> 

    <script>
    $(document).ready(function(){
        $("a").click(function(){
            $("body").toggleClass("main");
        });
    });
    </script>

<script>
    var myVar;
    
    function myFunction() {
        myVar = setTimeout(showPage, 3000);
    }
    
    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("myDiv").style.display = "block";
    }
    </script>

    

    
</head>

<body onload="myFunction()" style="margin:0;">
    


    <div id="loader"></div>

    <div style="display:none;" id="myDiv" class="animate-bottom">  
        <nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
  		
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/profil/">Profil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login/">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/registrasi/">Registrasi</a>
                    </li>
              </ul>
          </div>
      </nav>
      <br><br><br>  
    <div class="sesuatu">
    <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="http://www.fairleabritish.com/Fairlea_British_Shorthair_Cats/Welcome_files/IMGP5777.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Hello</h3>
              <p class="card-text" style="font-size: 23px">I'm Jasmine. I was born on 3th March 1999 in Jakarta. <br>
                Student of Faculty Computer Science Information System. Live in Kramat Jati, Jakarta, Indonesia. I'm 19 years old. I'm interested in many things such as Listening music, Travelling, and dancing.</p>
              <a href="#" class="btn btn-primary">Ubah Tema</a>
            </div>
          </div>
    </div>

<div class="sesuatu" onclick=akordion()>    
    <button class="accordion" >Aktivitas</button>
<div class="panel">
  <p>Menjalani perkuliahan di semester 3.</p>
</div>

<button class="accordion">Kepanitiaan/Organisasi</button>
<div class="panel">
  <p>Pernah mengikuti kepantiaan OKK UI 2017 sebagai staff transportasi dan konsumsi.</p>
</div>

<button class="accordion">Prestasi</button>
<div class="panel">
  <p>Menjuarai lomba paduan suara sewaktu TK hehe.</p>
</div>
</div>




</div>
</body>
</html>  