{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
                
    </head>

    <body style="background-image: url('https://download.hipwallpaper.com/desktop/1366/768/49/5/P3XFVQ.jpg')">
            <nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
  		
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link" href="/profil/">Profil</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/login/">Login</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/registrasi/">Registrasi</a>
                          </li>
                            
                      </ul>
                  </div>
              </nav>
              

    

{% block content %}


<style>
#login {
    padding: 3em;
    margin-top: 150px;
}
</style>

<div class="container">
    <div class="panel text-center" id="login">
        <h2>Masuk untuk Menyimpan Favorit</h2>
        <div class="btn btn-light my-2">
            <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-decoration:none">
                <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                Login with Google
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'book.js' %}"></script>
{% endblock %}
</body>
</html>