

.sesuatu {
    padding: 50px 20px 75px 300px;   
     
}

.main {
    background-image: url("https://thumbs.dreamstime.com/b/mod%C3%A8le-abstrait-ext%C3%A9rieur-de-tissu-plan-rapproch%C3%A9-au-tapis-bleu-clair-plancher-du-fond-texture-maison-106753217.jpg");
    
}

body {
    background-image: url("https://download.hipwallpaper.com/desktop/1366/768/49/5/P3XFVQ.jpg");    
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px ;
    width: 75%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    /* margin-right: 300px;
    margin-left : 300px;     */
}

.active, .accordion:hover {
    background-color: paleturquoise;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: rgb(240, 181, 255);
    width: 75%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* margin-right: 300px;
    margin-left : 300px;  */
    

    
}

.progress 
{
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background-color: #F2F2F2;
}
.bar 
{ 
  background-color: #819FF7; 
  width:0%; 
  height:5px; 
  border-radius: 3px; 
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}