

.sesuatu {
    padding: 50px 50px 75px 300px;    
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px ;
    width: 75%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    /* margin-right: 300px;
    margin-left : 300px;     */
}

.active, .accordion:hover {
    background-color: paleturquoise;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: rgb(240, 181, 255);
    width: 75%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* margin-right: 300px;
    margin-left : 300px;  */
    

    
}